<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<form
		th:action="@{/form}"
		th:object="${userForm}"
		method="post"
	>
		<div>
			<label for="username">Identificacion:</label> <input
				type="text"
				id="id"
				th:field="*{id}"
			> <br> <small
				th:if="${#fields.hasErrors('id')}"
				th:errors="*{id}"
			></small>
		</div>
		<br>
		<div>
			<label for="username">Usuario:</label> <input
				type="text"
				id="username"
				th:field="*{username}"
			> <br> <small
				th:if="${#fields.hasErrors('username')}"
				th:errors="*{username}"
			></small>
		</div>
		<br>
		<div>
			<label for="pais">Pais:</label> <select
				id="pais"
				th:field="*{pais}"
			>
				<option value="">--Seleccionar--</option>
				<option
					th:each="pais : ${listaPaises}"
					th:value="${pais.id}"
					th:text="${pais.nombre}"
				></option>
			</select> <br> <small
				th:if="${#fields.hasErrors('pais')}"
				th:errors="*{pais}"
			></small>
		</div>
		<br>
		<div>
			<label for="edad">Edad:</label> <input
				type="text"
				id="edad"
				th:field="*{edad}"
			> <br> <small
				th:if="${#fields.hasErrors('edad')}"
				th:errors="*{edad}"
			></small>
		</div>
		<br>
		<div>
			<div>
				<label for="genero1">Masculino:</label> <input
					type="radio"
					id="genero1"
					th:field="*{genero}"
					value="Masculino"
				>
			</div>
			<div>
				<label for="genero2">Femenino:</label> <input
					type="radio"
					id="genero2"
					th:field="*{genero}"
					value="Femenino"
				>
			</div>
			<br> <small
				th:if="${#fields.hasErrors('genero')}"
				th:errors="*{genero}"
			></small>
		</div>
		<br>
		<div>
			<label for="fechaNacimiento">Fecha nacimiento:</label> <input
				type="date"
				id="fechaNacimiento"
				th:field="*{fechaNacimiento}"
			> <br> <small
				th:if="${#fields.hasErrors('fechaNacimiento')}"
				th:errors="*{fechaNacimiento}"
			></small>
		</div>
		<br>
		<div>
			<label for="email">Correo:</label> <input
				type="text"
				id="email"
				th:field="*{email}"
			> <br> <small
				th:if="${#fields.hasErrors('email')}"
				th:errors="*{email}"
			></small>
		</div>
		<br>
		<div>
			<label for="password">Contrase&ntilde;a:</label> <input
				type="password"
				id="password"
				th:field="*{password}"
			> <br> <small
				th:if="${#fields.hasErrors('password')}"
				th:uerrors="*{password}"
			></small>
		</div>
		<div>
			<label>Roles:</label>
			<div th:each="rol : ${listaRoles}">
				<input
					type="checkbox"
					th:value="${rol.id}"
					th:field="*{roles}"
				> <label
					th:for="${#ids.prev('roles')}"
					th:text="${rol.nombre}"
				></label>
			</div>
			<br> <small
				th:if="${#fields.hasErrors('roles')}"
				th:uerrors="*{roles}"
			></small>
		</div>
		<br>
		<div>
			<label for="habilitar">Habilitar:</label> <input
				type="checkbox"
				id="habilitar"
				th:field="*{activar}"
			> <br> <small
				th:if="${#fields.hasErrors('activar')}"
				th:errors="*{activar}"
			></small>
		</div>
		<br>
		<input type="hidden" th:field="*{secreto}">
		<button type="submit">Enviar</button>
	</form>
</body>
</html>