<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<ul>
		<li th:text="${userForm.id}"></li>
		<li th:text="${userForm.username}"></li>
		<li th:text="${userForm.email}"></li>
		<li th:text="${userForm.pais.nombre}"></li>
		<li th:text="${userForm.edad}"></li>
		<li th:text="${userForm.genero}"></li>
		<li th:text="${userForm.activar?'Habilitado':'Deshabilitado'}"></li>
		<li th:text="${#dates.format(userForm.fechaNacimiento, 'dd/MM/yyyy')}"></li>
		<!-- <li th:text="${#calendars.format(userForm.fechaNacimiento, 'dd-MM-yyyy')}"></li> -->
		<li th:text="${userForm.password}"></li>
		<li>Roles:
			<ol>
				<li
					th:each="rol : ${userForm.roles}"
					th:text="${rol.nombre}"
				></li>
			</ol>
		</li>
		<li th:text="${userForm.secreto}"></li>
	</ul>
</body>
</html>